
<!-- Forget newPassword -->
<section class="container-fluid" *ngIf="forget == true">
    <div class="allform">
        <div>
            <h3 class="flicker">Write Your Email:</h3>
        </div>
    
    <form [formGroup]="emailForm" (ngSubmit)="handleForgetForm()">
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter Your Email...">
        </div>
        <div *ngIf="emailForm.get('email')?.errors && (emailForm.get('email')?.touched || emailForm.get('email')?.value.length > 0)" class="alert alert-danger p-1 small w-100 mx-auto">
          <p *ngIf="emailForm.get('email')?.getError('required')">Email is Required</p>
          <p *ngIf="emailForm.get('email')?.getError('email')">Email Invalid</p>
        </div>
  
        <br><br><br>
       
        <button  [disabled]="emailForm.invalid" type="submit" class="btn subbtn">Submit <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i> </button>
      </form>
    
      <div *ngIf="errormsg" class="alert alert-danger p-1 small w-100 mx-auto">
        <h5 >{{errormsg}}</h5>
      </div>
    </div>
    </section>


<!-- Reset newPassword -->
    <section class="container-fluid" *ngIf="reset == true">
      <div class="allform">
          <div>
              <h3 class="flicker">Verify Reset Code:</h3>
          </div>
      
      <form [formGroup]="resetForm" (ngSubmit)="handleResetForm()">
          <div class="mb-3">
            <label for="resetCode" class="form-label">ResetCode:</label>
            <input formControlName="resetCode" type="text" class="form-control" id="resetCode" placeholder="Enter ResetCode...">
          </div>
          <div *ngIf="resetForm.get('resetCode')?.errors && (resetForm.get('resetCode')?.touched || resetForm.get('resetCode')?.value.length > 0)" class="alert alert-danger p-1 small w-100 mx-auto">
            <p *ngIf="resetForm.get('resetCode')?.getError('required')">resetCode is Required</p>
          </div>
    
         
          <button  [disabled]="resetForm.invalid" type="submit" class="btn subbtn">Submit <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i> </button>
        </form>
      
        <div *ngIf="errormsg" class="alert alert-danger p-1 small w-100 mx-auto">
          <h5 >{{errormsg}}</h5>
        </div>
      </div>
      </section>


      <!-- New newPassword -->
    <section class="container-fluid" *ngIf="new == true">
      <div class="allform">
          <div>
              <h3 class="flicker">Reset Your Password:</h3>
          </div>
      
      <form [formGroup]="newForm" (ngSubmit)="handleNewForm()">
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter Your email...">
          </div>
          <div *ngIf="newForm.get('email')?.errors && (newForm.get('email')?.touched || newForm.get('email')?.value.length > 0)" class="alert alert-danger p-1 small w-100 mx-auto">
            <p *ngIf="newForm.get('email')?.getError('required')">email is Required</p>
          </div>

          <div class="mb-3">
            <label for="newPassword" class="form-label">newPassword:</label>
            <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Enter Your newPassword...">
          </div>
          <div *ngIf="newForm.get('newPassword')?.errors && (newForm.get('newPassword')?.touched || newForm.get('newPassword')?.value.length > 0)" class="alert alert-danger p-1 small w-100 mx-auto">
            <p *ngIf="newForm.get('newPassword')?.getError('required')">newPassword is Required</p>
            <p *ngIf="newForm.get('newPassword')?.getError('pattern')">newPassword must start with upperCase then from 6 to 10</p>
          </div>
    
    
         
          <button  [disabled]="newForm.invalid" type="submit" class="btn subbtn">Submit <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i> </button>
        </form>
      
        <div *ngIf="errormsg" class="alert alert-danger p-1 small w-100 mx-auto">
          <h5 >{{errormsg}}</h5>
        </div>
      </div>
      </section>