:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }
  
  section{
    background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }
  
  .imglog{
    margin-left: -12px;
  }
  
  .allform{
    margin-top: 80px;
    margin-left: 200px;
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    width: 800px;
  }
  
  .form-label{
    font-weight: bolder;
    color: #163343;
    margin-left: 100px;
  }
  
  .form-control{
    margin-bottom: 50px;
    margin-left: 100px;
    width: 600px;
  }
  
  img{
    height: 800px;
    width: 400px;
  }
  
  h3{
    margin-bottom: 70px;
    margin-top: 20px;
    margin-left: 120px;
  }
  
  .subbtn{
    background-color: #163343 ;
    color: white;
    padding: 10px 20px ;
    margin-left: 300px;
    margin-bottom: 20px;
    width: 200px;
  }
  
  .subbtn:hover{
    background-color: #97b1be ;
    color: black;
    padding: 10px 20px ;
  }
  
  
  
  .flicker {
    font-size: 3rem;
    font-family: 'Merienda', sans-serif;
    margin-bottom: 50px;
    color: #0a0d35c0;
    background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #8f94d561)) no-repeat;
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
    background-size: 110px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flick 1.5s infinite;
  }
  @keyframes flick {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  

