
<section>


<div class="allform">
    
    <div class="wrapper six">
        <div>
            <h3 class="flicker">Change Your Password:</h3>
        </div>
    </div>

    <form [formGroup]="passwordForm" (ngSubmit)="handleForm()" >
  
      <div class="mb-3">
        <label for="currentPassword" class="form-label">currentPassword:</label>
        <input formControlName="currentPassword" type="password" class="form-control" id="currentPassword" placeholder="Enter Your Password...">
      </div>

      <div *ngIf="passwordForm.get('currentPassword')?.errors && (passwordForm.get('currentPassword')?.touched || passwordForm.get('currentPassword')?.value.length > 0)" class="alert alert-danger p-2 small w-75 mx-auto">
        <p *ngIf="passwordForm.get('currentPassword')?.getError('required')">currentPassword is Required</p>
      </div>
      
      <div class="mb-3">
        <label for="password" class="form-label">newPassword:</label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter Your Password...">
      </div>

      <div *ngIf="passwordForm.get('password')?.errors && (passwordForm.get('password')?.touched || passwordForm.get('password')?.value.length > 0)" class="alert alert-danger p-2 small w-75 mx-auto">
        <p *ngIf="passwordForm.get('password')?.getError('required')">rePassword is Required</p>
      </div>

      <div class="mb-3">
        <label for="rePassword" class="form-label">rePassword:</label>
        <input formControlName="rePassword" type="password" class="form-control" id="rePassword" placeholder="Enter Your Password...">
      </div>

      <div *ngIf="passwordForm.get('rePassword')?.errors && (passwordForm.get('rePassword')?.touched || passwordForm.get('rePassword')?.value.length > 0)" class="alert alert-danger p-2 small w-75 mx-auto">
        <p *ngIf="passwordForm.get('rePassword')?.getError('required')">rePassword is Required</p>
        <p *ngIf="passwordForm.get('rePassword')?.getError('misMatch')">rePassword is MissMatch</p>
      </div>
    
      <button [disabled]="passwordForm.invalid" type="submit" class="btn subbtn">Submit </button>
    </form>
    <div *ngIf="errormsg" class="alert alert-danger p-1 small w-100 mx-auto mt-5">
        <h5 class="px-5 py-2 " >{{errormsg}}</h5>
      </div>
  </div>
</section>