<section class="container-fluid">
  <div class="allform">
      <div>
          <h3 class="flicker">Login Now:</h3>
      </div>
  
  <form [formGroup]="loginForm" (ngSubmit)="handleForm()">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter Your Email...">
      </div>
      <div *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.value.length > 0)" class="alert alert-danger p-1 small w-100 mx-auto">
        <p *ngIf="loginForm.get('email')?.getError('required')">Email is Required</p>
        <p *ngIf="loginForm.get('email')?.getError('email')">Email Invalid</p>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter Your Password...">
      </div>
      <div *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.value.length > 0)" class="alert alert-danger p-1 small w-100 mx-auto">
        <p *ngIf="loginForm.get('password')?.getError('required')">Password is Required</p>
        <p *ngIf="loginForm.get('password')?.getError('minlength')">Password must be at least 6 chars</p>
        <p *ngIf="loginForm.get('password')?.getError('pattern')">Password must start with upperCase then from 6 to 10</p>
      </div>

      <a class="forgetbtn" routerLink="/forgetPass">ForgetPassword?</a>
      <br><br><br>
     
      <button  [disabled]="loginForm.invalid" type="submit" class="btn subbtn">Login <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i> </button>
    </form>
  
    <div *ngIf="errormsg" class="alert alert-danger p-1 small w-100 mx-auto">
      <h5 >{{errormsg}}</h5>
    </div>
  </div>
  </section>