:host{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.container-fluid{
  background-image: url('https://cdn.apartmenttherapy.info/image/upload/v1579789156/k/Photo/Recipes/2020-01-superbowl-grazing-table/2020_superbowl_grazingtable_shot1_288.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
}

.imglog{
  margin-left: -12px;
}

.allform{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #e9e3e38f;
  border-radius: 20px;
  margin-bottom: 50px;
  backdrop-filter: blur(15px);
}
form{
  padding-left: 20px;
}

.form-label{
  font-weight: bolder;
  color: #163343;
}

.form-control{
  margin-bottom: 50px;
  max-width: 1000px;
}

img{
  height: 800px;
  width: 400px;
}

h1{
  margin-bottom: 70px;
}

.subbtn{
  background-color: #163343 ;
  color: white;
  padding: 10px 20px ;
  margin-left: 300px;
  width: 400px;
  margin-bottom: 20px;
}

.subbtn:hover{
  background-color: #97b1be ;
  color: black;
  padding: 10px 20px ;
}



.flicker {
  font-size: 3rem;
  font-family: 'Merienda', sans-serif;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 15px 15px;
  color: #13174b61;
  background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #8f94d561)) no-repeat;
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
  background-size: 110px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 1.5s infinite;
}
@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
